@import 'bootstrap';
@import 'base/_variables';
@import 'oss';

html, body {
  background-color: #ffffff;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
