@import 'bootstrap';
@import 'base/_variables';
@import 'base/_mixins';
@import 'base/_fonts';
@import 'base/_typography';
@import 'base/_buttons';
@import 'base/_links';
@import 'base/_inputs';
@import 'oss';

html, body {
  background-color: #f9f9f9;
  padding-bottom: 2em;
  font-family: @text-font-stack;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
