:root {
  --color-primary-50: #ECECFD;
  --color-primary-400: #3232F6;
  --color-primary-500: #0D0DE6;
  --color-primary-600: #0404C7;
  --color-primary-900: #060666;

  --color-accent: #FF4331;

  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-gray-50: #F9FAFB;
  --color-gray-100: #F3F4F6;
  --color-gray-200: #E5E7EB;
  --color-gray-300: #D1D5DB;
  --color-gray-400: #9CA3AF;
  --color-gray-500: #6B7280;
  --color-gray-900: #1B1E21;

  --color-success-50: #ECFDF5;
  --color-success-400: #34D399;
  --color-success-500: #10B981;
  --color-success-600: #059669;
  --color-success-900: #064E3B;

  --color-info-50: #F0FDFA;
  --color-info-400: #2DD4BF;
  --color-info-500: #14B8A6;
  --color-info-600: #0D9488;
  --color-info-900: #134E4A;

  --color-warning-50: #FFFBEB;
  --color-warning-400: #FBBF24;
  --color-warning-500: #F59E0B;
  --color-warning-600: #D97706;
  --color-warning-900: #78350F;

  --color-error-50: #FEF2F2;
  --color-error-400: #F87171;
  --color-error-500: #EF4444;
  --color-error-600: #DC2626;
  --color-error-900: #7F1D1D;

  --color-orange-50: #FFF7ED;
  --color-orange-400: #FB923C;
  --color-orange-500: #F97316;
  --color-orange-600: #EA580C;
  --color-orange-900: #7C2D12;

  --color-yellow-50: #FEFCE8;
  --color-yellow-400: #FACC15;
  --color-yellow-500: #EAB308;
  --color-yellow-600: #CA8A04;
  --color-yellow-900: #713F12;

  --color-lime-50: #F7FEE7;
  --color-lime-400: #A3E635;
  --color-lime-500: #84CC16;
  --color-lime-600: #65A30D;
  --color-lime-900: #365314;

  --color-cyan-50: #ECFEFF;
  --color-cyan-400: #22D3EE;
  --color-cyan-500: #06B6D4;
  --color-cyan-600: #0891B2;
  --color-cyan-900: #164E63;

  --color-blue-50: #EFF6FF;
  --color-blue-400: #60A5FA;
  --color-blue-500: #3B82F6;
  --color-blue-600: #2563EB;
  --color-blue-900: #1E3A8A;

  --color-violet-50: #F5F3FF;
  --color-violet-400: #A78BFA;
  --color-violet-500: #8B5CF6;
  --color-violet-600: #7C3AED;
  --color-violet-900: #4C1D95;

  --color-instagram-50: #F9EBF3;
  --color-instagram-500: #C13584;

  --color-facebook-50: #E8F1FE;
  --color-facebook-500: #1778F2;

  --color-youtube-50: #F8EAE9;
  --color-youtube-500: #CD201F;

  --color-twitter-50: #ECF5FD;
  --color-twitter-500: #1DA1F2;

  --color-tiktok-50: #EAEAEA;
  --color-tiktok-500: #333333;

  --color-blog-50: #F5F5F5;
  --color-blog-500: #999999;

  --color-twitch-50: #EFECF6;
  --color-twitch-500: #6441A5;

  --color-pinterest-50: #FAE9EA;
  --color-pinterest-500: #C8232C;
}

// Easy to use background-colors as classes
.background-color-primary-50 { background-color: var(--color-primary-50) }
.background-color-primary-500 { background-color: var(--color-primary-500) }
.background-color-primary-900 { background-color: var(--color-primary-900) }

.background-color-accent { background-color: var(--color-accent) }

.background-color-white { background-color: var(--color-white) }

.background-color-gray-50 { background-color: var(--color-gray-50) }
.background-color-gray-100 { background-color: var(--color-gray-100) }
.background-color-gray-500 { background-color: var(--color-gray-500) }
.background-color-gray-900 { background-color: var(--color-gray-900) }

.background-color-success-50 { background-color: var(--color-success-50) }
.background-color-success-500 { background-color: var(--color-success-500) }

.background-color-info-50 { background-color: var(--color-info-50) }
.background-color-info-500 { background-color: var(--color-info-500) }

.background-color-warning-50 { background-color: var(--color-warning-50) }
.background-color-warning-500 { background-color: var(--color-warning-500) }

.background-color-error-50 { background-color: var(--color-error-50) }
.background-color-error-500 { background-color: var(--color-error-500) }

.background-color-orange-50 { background-color: var(--color-orange-50) }
.background-color-orange-500 { background-color: var(--color-orange-500) }

.background-color-yellow-50 { background-color: var(--color-yellow-50) }
.background-color-yellow-500 { background-color: var(--color-yellow-500) }

.background-color-lime-50 { background-color: var(--color-lime-50) }
.background-color-lime-500 { background-color: var(--color-lime-500) }

.background-color-lime-50 { background-color: var(--color-lime-50) }
.background-color-lime-500 { background-color: var(--color-lime-500) }

.background-color-cyan-50 { background-color: var(--color-cyan-50) }
.background-color-cyan-500 { background-color: var(--color-cyan-500) }

.background-color-blue-50 { background-color: var(--color-blue-50) }
.background-color-blue-500 { background-color: var(--color-blue-500) }

.background-color-violet-50 { background-color: var(--color-violet-50) }
.background-color-violet-500 { background-color: var(--color-violet-500) }

.background-color-instagram-50 { background-color: var(--color-instagram-50) }
.background-color-instagram-500 { background-color: var(--color-instagram-500) }

.background-color-facebook-50 { background-color: var(--color-facebook-50) }
.background-color-facebook-500 { background-color: var(--color-facebook-500) }

.background-color-youtube-50 { background-color: var(--color-youtube-50) }
.background-color-youtube-500 { background-color: var(--color-youtube-500) }

.background-color-twitter-50 { background-color: var(--color-twitter-50) }
.background-color-twitter-500 { background-color: var(--color-twitter-500) }

.background-color-tiktok-50 { background-color: var(--color-tiktok-50) }
.background-color-tiktok-500 { background-color: var(--color-tiktok-500) }

.background-color-blog-50 { background-color: var(--color-blog-50) }
.background-color-blog-500 { background-color: var(--color-blog-500) }

.background-color-twitch-50 { background-color: var(--color-twitch-50) }
.background-color-twitch-500 { background-color: var(--color-twitch-500) }

.background-color-pinterest-50 { background: var(--color-pinterest-50) }
.background-color-pinterest-500 { background: var(--color-pinterest-500) }

// Easy to use font-colors as classes
.font-color-primary-50 { color: var(--color-primary-50) }
.font-color-primary-500 { color: var(--color-primary-500) }

.font-color-accent { color: var(--color-accent) }

.font-color-white { color: var(--color-white) }
.font-color-black { color: var(--color-black) }

.font-color-gray-300 { color: var(--color-gray-300) }
.font-color-gray-500 { color: var(--color-gray-500) }
.font-color-gray-900 { color: var(--color-gray-900) }

.font-color-success-500 { color: var(--color-success-500) }
.font-color-info-500 { color: var(--color-info-500) }
.font-color-warning-500 { color: var(--color-warning-500) }
.font-color-error-500 { color: var(--color-error-500) }

.font-color-orange-500 { color: var(--color-orange-500) }
.font-color-yellow-500 { color: var(--color-yellow-500) }
.font-color-lime-500 { color: var(--color-lime-500) }
.font-color-cyan-500 { color: var(--color-cyan-500) }
.font-color-blue-500 { color: var(--color-blue-500) }
.font-color-violet-500 { color: var(--color-violet-500) }

.font-color-instagram-500 { color: var(--color-instagram-500) }
.font-color-facebook-500 { color: var(--color-facebook-500) }
.font-color-youtube-500 { color: var(--color-youtube-500) }
.font-color-twitter-500 { color: var(--color-twitter-500) }
.font-color-tiktok-500 { color: var(--color-tiktok-500) }
.font-color-blog-500 { color: var(--color-blog-500) }
.font-color-twitch-500 { color: var(--color-twitch-500) }
.font-color-pinterest-500 { color: var(--color-pinterest-500) }
