:root {
  --box-shadow-lg: 0 0 50px -10px #1B1E2120;
  --box-shadow-md: 0 10px 15px -3px #1B1E2110;
  --box-shadow-sm: 0 1px 3px 0 #1B1E2110;

  --color-backdrop: #1B1E2160;
  --color-border-default: var(--color-gray-200);
  --color-content-separator: var(--color-gray-100);

  --border-radius-sm: 4px;
  --border-radius-md: 8px;
}
