@import '_variables';
@import '_mixins';

//
// An input group
// Any input in a form (or not) should always be wrapped into this.
//
.upf-input-container {}

//
// A simple form input
//
.upf-input {
  border: 1px solid @upfluence-gray-dark;
  border-radius: @default-radius;
  padding: 2rem 1em;

  &:focus {
    .remove-outline;
    border: 1px solid @upfluence-primary;
  }
}

//
// An input group that has an error attached to it
//
.upf-input-container--errorful {
  position: relative;

  .upf-input {
    border: 1px solid @upfluence-error // or #ff0000
  }

  .upf-input-error {
    i {
      color: @upfluence-error;
      display: block;

      font-size: 1.5em;

      position: absolute;

      right: 1rem;
      top: -3rem;
    }

    // Take the title attribute of the icon and use it in a more stylish container
    // than the default browser's one.
    i[aria-label]:hover:after {
      pointer-events: none;
      content: attr(aria-label);

      background-color: @upfluence-error;
      border-radius: @default-radius;
      color: #fff;

      font-family: @text-font-stack;
      font-size: 14px;

      padding: 7px;
      position: absolute;
      right: 100%;
      top: 100%;
      white-space: nowrap;
    }
  }
}
