@import '../core/_typography';
@import '../core/_variables';

/*
---
name: Alerts
category: Components
---

The Alert component is used to provide contextual feedback to the user about an
action or state.

```alert.html
<div class="upf-alert margin-bottom-x-sm">
  <div class="upf-alert__text">
    <span>A simple alert - check it out</span>
  </div>
</div>

<div class="upf-alert upf-alert--info margin-bottom-x-sm">
  <div class="upf-alert__text">
    <span>A simple alert - check it out</span>
  </div>
</div>

<div class="upf-alert upf-alert--success margin-bottom-x-sm">
  <div class="upf-alert__text">
    <span>A simple alert - check it out</span>
  </div>
</div>

<div class="upf-alert upf-alert--warning margin-bottom-x-sm">
  <div class="upf-alert__text">
    <span>A simple alert - check it out</span>
  </div>
</div>

<div class="upf-alert upf-alert--error">
  <div class="upf-alert__text">
    <span>A simple alert - check it out</span>
  </div>
</div>
```

### Options
-----------

#### Using an icon in alerts

Alerts can also carry an icon to emphasize the reason of the alert. Examples of
icon usages include:
* Using a Exclamation Triangle for Warnings
* Using a Fire icon for Errors

```icon.html
<div class="upf-alert upf-alert--error">
  <div class="upf-alert__icon">
    <i class="fa fa-trash"></i>
  </div>
  <div class="upf-alert__text">
    <span>This is an alert carying an icon</span>
  </div>
</div>
```

*/

.upf-alert {
  .text-size-6;
  border-radius: @default-radius;
  background-color: @upf-gray-light;
  display: flex;
  padding: 1%;
}

.upf-alert__icon {
  align-items: center;
  color: @color-text;
  display: flex;

  span {
    .text-style-bold;
  }
}

.upf-alert__text {
  .upf-align--center;
  color: @color-text;
  width: 100%;
}

//
// Warning alerts.
//
.upf-alert--warning {
  background-color: #fff5e6;

  .upf-alert__icon,
  .upf-alert__text span {
    color: #f4ba34;
  }
}

// Success Alerts
.upf-alert--success {
  background-color: #d0f4ef;

  .upf-alert__icon,
  .upf-alert__text span {
    color: #18c7ae;
  }
}

// Error Alerts
.upf-alert--error {
  background-color: #feddd9;

  .upf-alert__icon,
  .upf-alert__text span {
    color: #fe2518;
  }
}

// Info Alerts
.upf-alert--info {
  background-color: #e9e9fc;

  .upf-alert__icon,
  .upf-alert__text span {
    color: #0d0de6;
  }
}
