@import '../core/_typography';
@import '../core/_variables';

/*
---
name: Alerts
category: Components
---

Provide contextual feedback to users, whether to ask them to perform an action,
or tell them about a faulty or blocking state.

```alert.html
<div class="upf-alert margin-bottom-x-sm">
  <div class="upf-alert__text">
    <span>A simple alert - check it out</span>
  </div>
</div>

<div class="upf-alert upf-alert--info margin-bottom-x-sm">
  <div class="upf-alert__text">
    <span>A simple alert - check it out</span>
  </div>
</div>

<div class="upf-alert upf-alert--success margin-bottom-x-sm">
  <div class="upf-alert__text">
    <span>A simple alert - check it out</span>
  </div>
</div>

<div class="upf-alert upf-alert--warning margin-bottom-x-sm">
  <div class="upf-alert__text">
    <span>A simple alert - check it out</span>
  </div>
</div>

<div class="upf-alert upf-alert--error">
  <div class="upf-alert__text">
    <span>A simple alert - check it out</span>
  </div>
</div>
```

### Options
-----------

#### Using an icon in alerts

Alerts can also carry an icon to emphasize the reason of the alert. Examples of
icon usages include:
* Using a Exclamation Triangle for Warnings
* Using a Fire icon for Errors

```icon.html
<div class="upf-alert upf-alert--error">
  <div class="upf-alert__icon">
    <i class="fa fa-trash"></i>
  </div>
  <div class="upf-alert__text">
    <span>This is an alert carying an icon</span>
  </div>
</div>
```

*/

.upf-alert {
  .text-size-6;
  border-radius: @default-radius;
  background-color: @upf-gray-light;
  display: flex;
  padding: 1%;
}

.upf-alert__icon {
  align-items: center;
  color: @color-text;
  display: flex;

  span {
    .text-style-bold;
  }
}

.upf-alert__text {
  .upf-align--center;
  color: @color-text;
  width: 100%;

  span {
    .text-style-bold;
  }
}

//
// Warning alerts.
//
.upf-alert--warning {
  background-color: #fff3cd;
  border: 1px solid #ffeeba;

  .upf-alert__icon,
  .upf-alert__text span {
    color: #856404;
  }
}

// Success Alerts
.upf-alert--success {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;

  .upf-alert__icon,
  .upf-alert__text span {
    color: #3c763d;
  }
}

// Error Alerts
.upf-alert--error {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;

  .upf-alert__icon,
  .upf-alert__text span {
    color: #721c24;
  }
}

// Info Alerts
.upf-alert--info {
  background-color: #d9edf7;
  border: 1px solid #bce8f1;

  .upf-alert__icon,
  .upf-alert__text span {
    color: #31708f;
  }
}
