@import '_variables';
@import '_mixins';

.fill(@color) {
  border-color: @color;
  background-color: @color;
}

.outline(@color) {
  border: 1px solid @color;
  background-color: @upf-gray;
  color: @color;
}

.icon-color(@color) {
  .fa {
    color: @color;
  }
}

.btn {
  padding: 7px 3em;
  font-family: @font-text-title;
}

.upf-btn {}
.upf-btn--orange {
  .fill(@upf-primary-orange);
  .icon-color(@color-text-contrast);
  color: @color-text-contrast;


  &:hover {
    .active;
  }

  &.active, &:active, .active:active, .active:focus, &:focus {
    .remove-outline;
    .fill(@upf-primary-orange-dark);
    color: @color-text-contrast;
  }

  &.disabled {
    .fill(@upf-primary-orange-light);
    opacity: 0.5;
  }
}


.upf-btn--orange--reversed {
  .outline(@upf-primary-orange);
  .icon-color(@upf-primary-orange);

  &:hover {
    .active;
  }

  &.active, &:active, .active:active, .active:focus, &:focus {
    .remove-outline;
    border-color: @upf-primary-orange-light;
    color: @upf-primary-orange;
  }

  &.disabled {
    background-color: @upf-gray;
    opacity: 0.5;
  }
}

//
// Dark version of the Primary button.
//
.upf-btn--purple {
  .fill(@upf-primary-bright-purple);
  .icon-color(@upf-primary-bright-purple);
  color: @color-text-contrast;

  &:hover {
    .active;
  }

  &.active, &:active, .active:active, .active:focus, &:focus {
    .remove-outline;

     // @upf-primary-bright-purple-dark is an alias of upf-primary-dark-purple.
     // The aliasing is only so we can keep the base-color + tone logic for
     // buttons states.
    .fill(@upf-primary-bright-purple-dark);

    color: @color-text-contrast;
    opacity: 1;
  }

  &.disabled {
    .fill(@upf-primary-bright-purple-light);
    opacity: 0.5;
  }
}

.upf-btn--purple--reversed {
  .outline(@upf-primary-bright-purple);
  .icon-color(@upf-primary-bright-purple);
  color: @upf-primary-bright-purple;

  &:hover {
    .active;
  }

  &.active, &:active, .active:active, .active:focus, &:focus {
    .remove-outline;
    border-color: @upf-primary-bright-purple-light;
    color: @upf-primary-bright-purple-light;
  }
}

//
// Toggle Button (Actually a stylish checkbox)
//
.upf-toggle-btn {}

//Larger than x-toggle component's "miedum size", but less than its "large size"
.upf-toggle-btn .x-toggle-container { width: 4.75em; }
  .upf-toggle-btn .x-toggle-btn {
    background-color: @upf-primary-bright-purple; // Switch color when OFF
    border-radius: 20px !important;
    padding: 2px;

    &:after {
      border-radius: 30px !important;
      background-color: @color-text-contrast;
    }
  }
  // Switch color when ON.
  .upf-toggle-btn .x-toggle-container-checked .x-toggle-btn {
    background-color: @upf-primary-dark-purple !important;
  }
