.upf-card--container {
  text-align: center;
  margin-top: 10em;
  margin-bottom: @spacing-x-lg;
}

@media (min-height: 800px) {
  .upf-card--container {
    margin-top: 15em;
  }
}

@media (min-height: 1000px) {
  .upf-card--container {
    margin-top: 20em;
  }
}

@media (min-height: 1200px) {
  .upf-card--container {
    margin-top: 30em;
  }
}

.upf-card {
  display: inline-block;
  height: 260px;
  width: 330px;
  margin: @spacing-xx-sm;
  padding: @spacing-x-lg @spacing-x-sm;
  border: 2px solid @upf-gray;
  border-radius: @default-radius;
  display: inline-block;
  text-align: center;
}

.upf-card__icon {
  img {
    height: 80px;
  }
  max-height: 6em;
}

.upf-card__title {
  padding-top: @spacing-xxx-sm;
  padding-bottom: @spacing-xx-sm;
}

.upf-card:hover {
  border-color: @upf-primary-bright-purple;
  transition: border-color 0.2s linear;

  .upf-card__title {
    color: @upf-primary-bright-purple;
  }
}
