.upf-card {
  display: inline-block;
  height: 260px;
  width: 330px;
  margin: @spacing-xx-sm;
  padding: @spacing-x-lg @spacing-x-sm;
  border-radius: @default-radius;
  text-align: center;
  box-shadow: 0 5px 20px 10px darken(@upf-gray-light, 2%);
  transition: transform 0.3s ease;
}

.upf-card__icon {
  img {
    height: 85px;
  }
}

.upf-card__title {
  padding-top: @spacing-xx-sm;
}

.upf-card:hover {
  transform: scale(1.03);
  .upf-card__title {
    color: @upf-primary-bright-purple;
  }
}
