@upfluence-primary: #e14c1a;
@upfluence-primary-light: lighten(@upfluence-primary, 20);
@upfluence-primary-dark: darken(@upfluence-primary, 20);

@upfluence-secondary: #080222;
@upfluence-secondary-light: lighten(@upfluence-secondary, 20);
@upfluence-secondary-lighter: lighten(@upfluence-secondary-light, 20);
@upfluence-secondary-dark: darken(@upfluence-secondary, 20);

@upfluence-success: #129d5a;
@upfluence-error: #eda448;

@upfluence-gray: #f9f9f9;
@upfluence-gray-dark: darken(@upfluence-gray, 20);
