@import '../core/_colors';
@import '../core/_variables';

.upf-datatable__table {
  position: absolute;
  left: 0;
  right: 0;

  table-layout: fixed;
  width: 100%;
}

.upf-datatable__row {
  border-bottom: 1px solid lighten(@upf-gray, 15%);

  th:first-of-type, td:first-of-type {
    padding-left: @spacing-xx-sm;
  }

  th, td {
    color: @color-text-light;
    padding: @spacing-xxx-sm;
    overflow: hidden;
  }
}

.upf-datatable__row:not(.upf-datatable__row--header) {
  &:hover {
    background-color: @upf-gray-light;
  }

  .upf-datatable__column {
    height: @spacing-xx-lg;

    &:hover:not(.upf-datatable__column--unsortable):not(.upf-datatable__column--uneditable) {
      cursor: pointer;
      color: @upf-primary-bright-purple;
      transition: color 0.4s;
    }
  }

  td:not(:last-child) {
    border-right: 1px solid lighten(@upf-gray, 15%);
  }
}

.upf-datatable__row--selected {
  background-color: lighten(@upf-primary-bright-purple, 30%);

  &:hover {
    background-color: lighten(@upf-primary-bright-purple, 30%) !important;
  }
}

.upf-datatable__row--header {
  overflow: hidden;
  text-transform: capitalize;

  .upf-datatable__column:hover:not(.upf-datatable__column--unsortable) {
    border-bottom: 1px solid @upf-primary-bright-purple;
    color: @upf-primary-bright-purple;
    cursor: pointer;
  }

  .upf-datatable__column.upf-datatable__column--descending:after {
    content: " ↑";
  }

  .upf-datatable__column.upf-datatable__column--ascending:after {
    content: " ↓";
  }
}

.upf-datatable__search {
  display: inline-flex;
  margin-bottom: 0;
  min-width: 5*@spacing-xx-lg;
}

.upf-datatable__side-panel {
  background-color: @upf-primary-dark-purple;
  display: none;
  opacity: 0;
  z-index: 1;

  height: 500px;
  overflow-y: auto;


  padding: @spacing-md;
  position: absolute;
  right: 0;
  width: 25%;
}

.upf-datatable__side-panel--visible {
  display: block;
  opacity: 1;
}
