@import '../core/_colors';
@import '../core/_variables';

@keyframes skeleton-content {
  0% {
    background-position: -200px 0;
  }

  100% {
    background-position: calc(200px + 100%) 0;
  }
}

.upf-datatable__table {
  position: relative;
  left: 0;
  right: 0;

  table-layout: fixed;
  width: 100%;
}

.upf-datatable__actions-header {
  background-color: @upf-gray-light;
  display: flex;
  list-style-type: none;
  color: @upf-gray-dark;
  padding: @spacing-x-sm @spacing-sm;
  margin-bottom: 0px;

  .upf-datatable__actions-pull-right {
    display: flex;
    margin-left: auto !important;
  }
}

.upf-datatable__contextual-actions {
  display: inline-flex;
  flex-grow: 1;

  .upf-datatable__selected-count {
    background-color: @upf-primary-rock-blue;
    border-radius: @default-radius;
    color: @upf-primary-white;
    font-size: 18/@rem;

    line-height: 1.4;
    height: 34px;
    padding: @spacing-xxx-sm @spacing-xx-sm;

    text-align: center;
  }

  .right-actions {
    margin-left: auto;
  }
}

.upf-datatable__row {
  border-bottom: 1px solid lighten(@upf-gray, 15%);

  th:first-of-type, td:first-of-type {
    padding-left: @spacing-xx-sm;
  }

  th, td {
    color: @color-text;
    padding: @spacing-xxx-sm;
    overflow: hidden;
  }
}

.upf-datatable__row:not(.upf-datatable__row--header) {
  &:hover {
    background-color: @upf-gray-light;
  }

  .upf-datatable__column {
    height: @spacing-xx-lg;

    &:hover:not(.upf-datatable__column--unsortable):not(.upf-datatable__column--uneditable) {
      cursor: pointer;
      color: @upf-primary-bright-purple;
      transition: color 0.4s;
    }
  }

  .upf-datatable__column--hideable {
    display: none;
    opacity: 0;
  }

  .upf-datatable__column--locked .skeleton-placeholder {
    height: 10px;
    animation: skeleton-content 1.2s ease-in-out infinite;
    background-color: #eee;
    background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
    background-size: 200px 100%;
    background-repeat: no-repeat;
    border-radius: @default-radius;
    display: inline-block;
    line-height: 1;
    width: 100%;
  }

  td:not(:last-child) {
    border-right: 1px solid lighten(@upf-gray, 15%);
  }
}

.upf-datatable__row--selected, .upf-datatable__row--selected:hover {
  background-color: @upf-gray-light !important;
}

.upf-datatable__row.upf-datatable__row--polymorphic {
  .upf-datatable__column--default {
    display: none;
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  .upf-datatable__column--hideable {
    display: block;
    opacity: 1;
    transition: opacity 0.25s ease;
  }
}


.upf-datatable__row--header {
  overflow: hidden;
  text-transform: capitalize;
  background-color: @upf-gray-light;

  .subtitle {
    font-weight: 400;
  }

  .upf-datatable__column:hover:not(.upf-datatable__column--unsortable) {
    border-bottom: 1px solid @upf-primary-bright-purple;
    color: @upf-primary-bright-purple;
    cursor: pointer;
  }

  .upf-datatable__column.upf-datatable__column--descending:after {
    content: " ↑";
  }

  .upf-datatable__column.upf-datatable__column--ascending:after {
    content: " ↓";
  }
}

.upf-datatable__side-panel {
  position: absolute;
  background-color: @upf-gray-light;
  box-shadow: 0px 0px 75px 0px rgba(0,0,0,0.25);
  display: block;
  z-index: 1;
  height: 500px;
  overflow-y: auto;
  padding: @spacing-md;
  width: 21%;
  max-width: 395px;
  opacity: 0;

  transform: translate(-30px, 18px);

  &.side-panel--appearance {
    animation-name: appearance;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  .upf-checkbox__label span {
    color: @color-text;
  }
}

.upf-datatable__side-panel--arrow-up {
  position: absolute;
  z-index: 2;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid @upf-gray-light;

  transform: translate(35px, 6px);
}

@keyframes appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.upf-table__container--compact {
  .upf-datatable__row {
    border-bottom: none;
  }

  .upf-datatable__row:not(.upf-datatable__row--header) .upf-datatable__column {
    border-right: none;
    padding-right: @spacing-sm;
    height: 3.5em;
  }
}
