//
// Bootstrap fix
// Bootstrap has a known issue on the .center-block class (which horizontally
// centers a block in a row. The float rule is initially missing.
//
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

//
// Fully center an element: both vertically and horizontally.
//
.upf-align--absolute-center {
  position: absolute;

  top: 50%;
  left: 50%;

  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


//
// Align any element supporting the text-align rule on the right, left, or
// center.
//
// In the case of upf-align--center, it's just like using Bootstrap's
// text-center class.
//
.upf-align--left {
  text-align: left;
}

.upf-align--right {
  text-align: right;
}

.upf-align--center {
  text-align: center;
}
