@import '_variables';

.upf-icon-group {}
.upf-icon-group__superior {
  color: @upfluence-success;
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
}

.upf-icon-group__superior--edit:after {
  .upf-icon-group__superior;
  content: '\f044';
}
.upf-icon-group__superior--visibility:after {
  .upf-icon-group__superior;
  content: '\f06e';
}
