@import '_variables';

//
// OSS Icons. Base styles for the OSS Icons Set.
// Because the icons SVGs are exported from Sketch app, and because we can't
// afford to convert them all manually, we use CSS to harmonize all the icons.
// They are then all black, and the liberty is let to the developer to style
// them accordingly.
//
.upf-icon * {
  stroke-width: 1;
  stroke: @color-text !important;
}

.upf-icon-group { font-size: 1.5em; }
.upf-icon-group__superior {
  color: @upf-feedback-success;
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
}

.upf-icon-group__superior--edit:after {
  .upf-icon-group__superior;
  content: '\f044';
}
.upf-icon-group__superior--visibility:after {
  .upf-icon-group__superior;
  content: '\f06e';
}
