/*
 * Images
 * All image styles.
 */

.upf-image { }

.upf-image--round-48 {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.upf-image--round-96 {
  width: 96px;
  height: 96px;
  border-radius: 48px;
}

.upf-image--round-288 {
  width: 288px;
  height: 288px;
  border-radius: 144px;
}
