@import '_variables';
@import '_mixins';

//
// Custom style for an input group => an input with a prefix or suffix.
// The prefix or suffix is generally an icon, but can be any text.
// In case the prefix or suffix is text, it can be used as a label.
//
.setup-input-group-addon(@color) {
  .input-group-addon {
    background-color: @color;
    border: 1px solid @color;
    color: @color-text-contrast;
    font-weight: bold;
    padding: 0 1.5em;
    text-align: center;
  }

  .upf-input {
    border-left: none; // Bootstrap adds a gray border to prefixed inputs.

    &:focus {
      // #CHECK Don't know if bug or not, but on focus, input overlaps
      // feedback icons.
      z-index: 1;
    }
  }
}

//
// An input container
// Any input in a form (or not) should always be wrapped into this.
//
.upf-input-container {
  .input-group {
    .setup-input-group-addon(@upf-primary-dark-purple);
  }
}

//
// An input group that has an error attached to it
//
.upf-input-container--errorful {
  .upf-input-container--has-feedback;


  .input-group {
    .setup-input-group-addon(@upf-feedback-error);
  }

  .upf-input, .upf-input:focus {
    border: 1px solid @upf-feedback-error;
  }

  .upf-input-feedback--error {
    .set-feedback-colors(@upf-feedback-error, @upf-feedback-error, @color-text-contrast);
  }
}

//
// An input group offering some help
//
.upf-input-container--has-help {
  .upf-input-container--has-feedback;

  .upf-input-feedback--help {
    .set-feedback-colors(@upf-primary-rock-blue, @upf-primary-rock-blue, @color-text-contrast);
  }
}


//
// A standard text field.
// This class can be applied on Input elements, Textareas, or selects.
//
.upf-input {
  border: 1px solid @upf-gray-dark;
  border-radius: @default-radius;
  padding: 20px 1em;

  &:focus {
    .remove-outline;
    border: 1px solid @upf-primary-dark-purple;
  }
}

//
// A textarea field.
//
.upf-input--textarea {
  width: 100%;
}
