@import '_variables';

//
// Removes all default behavior from a link
//
.upf-link--reset {
  color: @color-text;

  &:hover, &:active, &:focus {
    text-decoration: none;
    color: @color-text;
  }
}

//
// A link element composed of a text + an icon
//
.upf-link--has-icon {
  i {
    font-size: 0.8em;
  }
}

//
// An emphasized link in the middle of some content.
// Because sometimes there are link we want the user to clearly see!
//
.upf-link--emphasized {
  border-bottom: 3px solid @upf-primary-orange;
  padding-bottom: 6px;
}

//
// A route link being currently visited.
//
// Disclaimer: The .active class is automatically added by Ember JS to a route
// currently being visited. Be sure to handle the setting of this class if you
// are not working with Ember JS.
//
a.active {
  .upf-link--emphasized;
  transition: all 0.5s ease-in-out;
}
