@import '../core/_colors';
@import '../core/_variables';

.upf-nav {
  background-color: @upf-primary-orange;
  border-bottom: none;

  display: flex;
  align-items: baseline;
  list-style-type: none;

  padding: @spacing-x-sm;
}

.upf-nav__item {
  &:not(:first-child) {
    margin-left: @spacing-lg;
  }

  a {
    color: @color-text-contrast;
    font-size: 18/@rem;

    padding: @spacing-xxx-sm @spacing-xx-sm;
  }

  a.active, a:hover {
    border-bottom: none;
    border-radius: @default-radius;
    background-color: @upf-primary-orange-dark;
    color: @color-text-contrast;
  }
}

// A Subnavigation, with actions that are more contextual to the current page.
//
.upf-contextual-nav {
  background-color: @upf-primary-orange-dark;
  display: flex;
  list-style-type: none;

  padding: @spacing-x-sm;
}

.upf-nav__item--title {
  a {
    color: @color-text-contrast;
    font-size: 24/@rem;
  }

  a.active, a:hover {
    border: none;
    background-color: transparent;
  }
}

.upf-contextual-nav__item {
  .upf-nav__item;

  a.active, a:hover {
    border-bottom: none;
    border-radius: @default-radius;
    background-color: @upf-primary-orange;
    color: @color-text-contrast;
  }
}

.upf-contextual-nav__item--pull-right {
  margin-left: auto !important;
}
