@import '../core/_colors';
@import '../core/_variables';

.upf-nav {
  background-color: @upf-primary-orange;
  border-bottom: none;

  display: flex;
  list-style-type: none;

  padding: @spacing-x-sm;
}

.upf-nav__item {
  &:not(:first-child) {
    margin-left: @spacing-lg;
  }

  a {
    color: @color-text-contrast;
    font-size: 18/@rem;

    padding: @spacing-xxx-sm;
  }

  a.active, a:hover {
    border-bottom: none;
    border-radius: @default-radius;
    background-color: @upf-primary-orange-dark;
    color: @color-text-contrast;
  }
}
