@import '../core/_variables';
@import '../core/_colors';

// Progress Bars
// --------------------------------------------------

.upf-progress {
  &:extend(.progress);

  border-radius: @default-radius;
  background-color: darken(@upf-gray-light, 5%);
  height: 10px;
  margin-bottom: 0;
  margin-top: @spacing-md;

  .progress-bar {
    width: 0;
    animation: progress 1s forwards;

    background-color: @upf-primary-bright-purple;
  }

  @keyframes progress { from { width: 0; } to { width: 100%; }}
}
