@import '../core/_colors';
@import '../core/_variables';
@import '../mixins/_grid';

//
// Tables throughout the apps.
//
.upf-table {
  /*.table-striped; // FROM_BOOTSTRAP*/

  border-collapse: inherit;
  border: 1px solid @upf-gray-dark;
  border-radius: @default-radius;

  td, th {
    text-align: left;
  }

  thead {
    border-radius: @default-radius;
    background-color: @upf-gray-light;

    tr th {
      border: none;
      border-bottom: 1px solid @upf-gray-dark;
      vertical-align: middle;
    }
  }

  tbody {
    // Zebra-style the table rows with alternate grey background.
    & > tr:nth-of-type(odd) {
      background-color: lighten(@upf-gray-light, 30);
    }

    td {
      border: none;
      padding-top: 1em;
      padding-bottom: 1em;
      vertical-align: middle !important;
    }

    tr:first-child td {
      border-top: none;
    }
  }
}

//
// A primary information in a grouped column of a table.
//
.upf-table__group-column {
  color: @color-text;
}

  //
  // Any secondary information in a grouped column of a table.
  //
  .upf-table__group-column--secondary {
    color: @color-text-light;
    font-size: 0.9em;
  }

//
// Placing of the checkbox for selecting a table's row.
//
.upf-table__row-selector {
  width: 4em;

  .row-selector__input-wrapper {
    .horizontally-center-block;
  }
}
