//
// Tables throughout the apps.
//
.upf-table {
  .table-striped;

  border-collapse: inherit;
  border: 1px solid @upfluence-gray-dark;
  border-radius: @default-radius;

  td, th {
    text-align: left;
  }

  thead {
    border: 1px solid lighten(@upfluence-secondary-light, 20);
    border-radius: @default-radius;
    background-color: @upfluence-gray;

    tr th {
      border: none;
      border-bottom: 1px solid @upfluence-gray-dark;
      vertical-align: middle;
    }
  }

  tbody {
    // Zebra-style the table rows with alternate grey background.
    & > tr:nth-of-type(odd) {
      background-color: lighten(@upfluence-gray-dark, 30);
    }

    td {
      border: none;
      padding-top: 1em;
      padding-bottom: 1em;
      vertical-align: middle !important;
    }
  }
}

//
// A primary information in a grouped column of a table.
//
.upf-table__group-column {
  color: @color-text-light;
}

  //
  // Any seocndary information in a grouped column of a table.
  //
  .upf-table__group-column--secondary {
    color: @color-text-lighter;
    font-size: 0.9em;
  }
