@import '../core/_colors';
@import '../core/_variables';
@import '../mixins/_coloring';

/*
 * Tags
 * Tags are used to provide additional informations about something.
 */
.upf-tag {
  background-color: @field-background-color;
  border: 1px solid transparent;
  border-radius: 20px;
  float: left;
  min-width: 65px;
  padding: 0 @spacing-xxx-sm;
  text-align: center;
  vertical-align: middle;
}

.upf-tag__text {
  color: @color-text-light;
}

.upf-tag--orange {
  .fill(@upf-primary-orange);

  .upf-tag__text {
    color: @upf-primary-white;
    opacity: 0.5;
  }
}

.upf-tag--success {
  .fill(@upf-feedback-success);

  .upf-tag__text {
    color: @upf-primary-white;
    opacity: 0.5;
  }
}
