@import '../core/_colors';
@import '../core/_variables';
@import '../mixins/_coloring';

/*
 * Tags
 * Tags are used to provide additional informations about something.
 */
.upf-tag {
  .outline(@upf-gray);
  background-color: rgba(255,255,255,0.25);
  border-radius: @default-radius;
  float: left;
  min-width: 65px;
  padding: 2px 25px;
}

.upf-tag__text {
  color: @upf-gray;
}

.upf-tag--orange {
  .fill(@upf-primary-orange);

  .upf-tag__text {
    color: @upf-primary-white;
    opacity: 0.5;
  }
}

.upf-tag--success {
  .fill(@upf-feedback-success);

  .upf-tag__text {
    color: @upf-primary-white;
    opacity: 0.5;
  }
}
