@import '_colors';

@default-radius: 3px;

//
// Font stacks
//
@font-text-title: 'GT Eesti', 'Helvetica Neue', 'Helvetica', sans-serif;
@font-text-body: 'Nunito Sans', 'Helvetica Neue', 'Helvetica', sans-serif;

//
// Text Colors
//

// - default (on a bright background)
@color-text: rgba(0, 0, 0, 87%);
@color-text-light: rgba(0, 0, 0, 54%);
@color-text-lighter: rgba(0, 0, 0, 46%);

// - on a dark background
@color-text-contrast: rgba(255, 255, 255, 100%);
@color-text-contrast-light: rgba(255, 255, 255, 70%);
@color-text-contrast-lighter: rgba(255, 255, 255, 50%);
