@import '../base/_variables';

.app-header {
  background-color: @upf-primary-dark-purple;

  .logo-container {
    position: relative;
    width: 100%;

    a, a:hover {
      .upf-link--reset;
    }
  }

  .header-item {
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;

    a, i {
      .upf-link--reset;
      color: @color-text-contrast;
    }
  }
}

.app-header--sidebar {
  .app-header;

  height: 100vh;
  position: fixed;
  width: 5em;

  .logo-container {
    margin-top: 1em;

    img {
      width: 100%;
    }
  }


  .app-header__top, .app-header__top {
    .header-item {
      font-size: 1.5em;
      margin-top: 1em;
    }
  }

  .app-header__bottom {
    position: absolute;
    bottom: 1em;
    transform: translateX(50%); // Keep bottom menu items horizontally centered
  }
}

.app-header--topbar {
  .app-header;

  height: 5em;
  display: inline-flex;
  align-items: center;

  .app-header__left-side, .app-header__right-side {
    display: flex;

    .header-item {
      font-size: 1.2em;
      margin-left: 1em;
    }
  }

  .app-header__right-side {
    position: absolute;
    right: 1em;
  }

  .logo-container {
    left: 50%;
    margin-top: 2.2em;

    // Horizontally center the Upfluence logo
    //
    position: absolute;
    -webkit-transform: translateX(-50%) translatey(-50%);
    -moz-transform: translateX(-50%) translatey(-50%);
    transform: translateX(-50%) translatey(-50%);

    width: 15%;

    a {
      display: inline-flex;
      align-items: center;

      img {
        width: 25%;
      }

      span {
        color: @upf-primary-white;
        font-size: 3em;
        font-weight: bold;
      }
    }
  }
}

.app-main {
  position: inherit;
  padding: 0;
}

.app-main--along-sidebar {
  .app-main;
  margin-left: 5em;
}

.app-main--below-topbar {
  .app-main;
}
