@import '../core/_colors';
@import '../core/_variables';
@import '../mixins/_links';

.app-header {
  background-color: @upf-primary-dark-purple;

  .logo-container {
    position: relative;
    width: 100%;
    padding: @spacing-xxx-sm @spacing-xxx-sm;

    a, a:hover {
      /*.reset-link;*/
    }

    // Do not style the Upfluence link (leading to homepage) even when it's the
    // current route.
    a.active {
      padding-bottom: 0;
      border: none;
    }
  }

  .header-item {
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;

    a, i {
      color: @color-text-contrast;
      text-decoration: none !important;
    }
  }
}

.app-header--sidebar {
  .app-header;

  border-right: 1px solid fadeout(@upf-primary-white, 90);
  height: 100vh;
  position: fixed;
  padding: 0;
  top: 0;
  width: 5em;
  z-index: 9999999;

  .logo-container {
    margin-top: 0;
    text-align: center;
    padding: @spacing-xx-sm @spacing-xx-sm @spacing-md @spacing-xx-sm;

    img {
      width: 100%;
    }
  }

  .header-item {
    font-size: 1.5em;
    margin-top: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      border-radius: @default-radius;
      max-width: 24px;
      height: 24px;
      padding: 24px;
      color: @upf-gray-light;

      img {
        flex: 1;
        max-width: 18px;
        height: 18px;
        align: middle;
      }

      &:hover {
        background-color: @upf-primary-bright-purple;
        transition: all 0.2s ease;
      }

      &:active {
        img {
          opacity: 0.8;
        }
      }
    }

    // Only change the color of the icons in the sidebar when it's active
    // route.
    a.active, a.active i {
      color: @upf-primary-white;
      border-bottom: none;
      background-color: @upf-primary-bright-purple;
      transition: all 0.5s ease;
    }
  }

  .app-header__bottom {
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  @media screen and (max-height: 400px) {
    .app-header__bottom {
      display: none;
    }
  }
}

.app-header--topbar {
  .app-header;

  height: 5em;
  display: inline-flex;

  .app-header__left-side, .app-header__right-side {
    display: flex;
    align-items: center;

    .header-item {
      font-size: 1.2em;
      margin-left: 1em;
    }
  }

  .app-header__right-side {
    height: 100%;
    position: absolute;
    right: 1em;
  }

  .logo-container {
    left: 50%;
    top: 50%;

    // Horizontally center the Upfluence logo
    //
    position: absolute;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 45%;

    a {
      text-align: center;
      display: block;

      img {
        width: 45%;
        vertical-align: baseline;
      }
    }
  }
}

.app-main {
  position: inherit;
  padding: 0;
}

.app-main--along-sidebar {
  .app-main;
  margin-left: 5em;
}

.app-main--below-topbar {
  .app-main;
}
