@font-face {
  font-family: 'GT Eesti';
  src: url(fonts/GT-Eesti-Display-Medium.ttf),
       url(fonts/GT-Eesti-Display-Medium.eot),
       url(fonts/GT-Eesti-Display-Medium.woff),
}

@font-face {
  font-family: 'GT Eesti Text Book';
  src: url(fonts/GT-Eesti-Text-Book.ttf),
       url(fonts/GT-Eesti-Text-Book.eot),
       url(fonts/GT-Eesti-Text-Book.woff),
}

@font-face {
    font-family: "GT Eesti Text Book";
    src: url(fonts/GT-Eesti-Display-Medium.ttf),
         url(fonts/GT-Eesti-Display-Medium.eot),
         url(fonts/GT-Eesti-Display-Medium.woff);
    font-weight: bold;
}
