@font-face {
  font-family: 'upf-icons';
  src:  url('fonts/upf-icons.eot?gco6tz');
  src:  url('fonts/upf-icons.eot?gco6tz#iefix') format('embedded-opentype'),
    url('fonts/upf-icons.woff2?gco6tz') format('woff2'),
    url('fonts/upf-icons.ttf?gco6tz') format('truetype'),
    url('fonts/upf-icons.woff?gco6tz') format('woff'),
    url('fonts/upf-icons.svg?gco6tz#upf-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.upf-icon-- {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'upf-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.upf-icon--cloud:before {
  content: "\e902";
  color: #fff;
}
.upf-icon--search:before {
  content: "\e800";
  color: #fff;
}
.upf-icon--monitor:before {
  content: "\e801";
  color: #fff;
}
.upf-icon--finance:before {
  content: "\e802";
  color: #fff;
}
.upf-icon--list:before {
  content: "\e803";
  color: #fff;
}
.upf-icon--help:before {
  content: "\e804";
  color: #fff;
}
.upf-icon--workflow:before {
  content: "\e805";
  color: #fff;
}
.upf-icon--inbox:before {
  content: "\e806";
  color: #fff;
}
.upf-icon--cog:before {
  content: "\e807";
  color: #fff;
}
.upf-icon--exit:before {
  content: "\e808";
  color: #fff;
}
.upf-icon--influencers:before {
  content: "\e809";
  color: #fff;
}
.upf-icon--messages:before {
  content: "\e810";
  color: #fff;
}
.upf-icon--check:before {
  content: "\e900";
  color: #fff;
}
.upf-icon--cross:before {
  content: "\e901";
  color: #fff;
}
