@import '../core/_variables';
@import '../mixins/_grid';

/*

/!\ This file is deprecated. Please see core-v2/_variables.less. /!\ 

---
name: Spacing
category: Utilities
---
Utility classes for spacing (padding/margin) and alignment of elements.

### Alignment
--------------
Use `center-block` to horizontally center a block in a row.

Use `upf-align--absolute-center` to center the element vertically and horizontally.

``` spacing-blocks.html
<div class="center-block">
  Horizontally center a block in a row
</div>

<div class="upf-align--absolute-center">
  Fully center element vertically and horizontally
</div>
```

Align elements using `upf-align--*` (`upf-align--left`, `upf-align--center`, `upf-align--right`) classes, as long as they support the text-align rule on the right, left or center.

``` spacing-align-text.html
<div class="upf-align--left">
  Left
</div>

<div class="upf-align--center">
  Center
</div>

<div class="upf-align--right">
  Right
</div>
```

### Spacing
------------

Spacers variable and helper classes can be used to increase or decrease the space between multiple elements (margins) or within one (paddings).

The spacer utility classes are in the format of `<margin/padding>-<optional: position>-<size>` for example `margin-top-xx-sm`.

The (optional) position modifiers available are: `top`, `right`, `bottom`, `left`.
If a position modifier is not stated, the margin/padding will be applied on every side of the element.

The size modifiers available are: `xxx-sm`, `xx-sm`, `x-sm`, `sm`, `md`, `lg`, `x-lg`, `xx-lg`.

|  Size modifier              | Value                 |
| --------------------------- | --------------------- |
| xxx-sm                      | 0.5em                 |
| xx-sm                       | 1em                   |
| x-sm                        | 1.5em                 |
| sm                          | 2em                   |
| md                          | 2.5em                 |
| lg                          | 3em                   |
| x-lg                        | 4em                   |
| xx-lg                       | 5em                   |

``` spacing-spacers.html
<div class="margin-top-md">
  Medium margin applied to just the top
</div>

<div class="margin-lg">
  Large margin on every side of the element
</div>

<div class="padding-left-x-sm">
  Extra small padding applied to the left
</div>
```
*/

//
// Horizontally center a block in a row. The float rule is initially missing.
//
.center-block {
  .horizontally-center-block;
}

//
// Fully center an element: both vertically and horizontally.
//
.upf-align--absolute-center {
  position: absolute;

  top: 50%;
  left: 50%;

  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


//
// Align any element supporting the text-align rule on the right, left, or
// center.
//
// In the case of upf-align--center, it's just like using Bootstrap's
// text-center class.
//
.upf-align--left {
  text-align: left !important;
}

.upf-align--right {
  text-align: right !important;
}

.upf-align--center {
  text-align: center !important;
}

//
// Spacers variables and helper classes
// Spacers are used to reduce or increase the space between multiple elements
// (margins) or within one (paddings).
//

.for(@array)   when (default()) {.for-impl_(length(@array))}
.for-impl_(@i) when (@i > 1)    {.for-impl_((@i - 1))}
.for-impl_(@i) when (@i > 0)    {.-each(extract(@array, @i))}

@spacers: none, xxx-sm, xx-sm, x-sm, sm, md, lg, x-lg, xx-lg;
.for(@spacers); .-each(@spacer-size) {
  .margin-top-@{spacer-size} { margin-top: ~"@{spacing-@{spacer-size}}" }
  .margin-right-@{spacer-size} { margin-right: ~"@{spacing-@{spacer-size}}" }
  .margin-bottom-@{spacer-size} { margin-bottom: ~"@{spacing-@{spacer-size}}" }
  .margin-left-@{spacer-size} { margin-left: ~"@{spacing-@{spacer-size}}" }
  .margin-@{spacer-size} { margin: ~"@{spacing-@{spacer-size}}" }

  .padding-top-@{spacer-size} { padding-top: ~"@{spacing-@{spacer-size}}" }
  .padding-right-@{spacer-size} { padding-right: ~"@{spacing-@{spacer-size}}" }
  .padding-bottom-@{spacer-size} { padding-bottom: ~"@{spacing-@{spacer-size}}" }
  .padding-left-@{spacer-size} { padding-left: ~"@{spacing-@{spacer-size}}" }
  .padding-@{spacer-size} { padding: ~"@{spacing-@{spacer-size}}" }
}
