@import '../core/_variables';

@min_font_size: 8;
@breaking_size: 18; // size after what the step is 6px;

.text-size(@id, @size) {
  .text-size-@{id} {
    font-size: @size/@rem;
  }
}

.text-size-loop(@counter, @size, @max) when (@counter < @max) {

  & when (@size >= @breaking_size) {
    .text-size-loop(@counter+1, @size+6, @max);
  }

  & when (@size < @breaking_size) {
    .text-size-loop(@counter+1, @size+2, @max);
  }

  .text-size(@counter+1, @size);
}

.text-size-loop(0, @min_font_size, 10);
.text-size(normal, @font-size-body);

//
// Line height configurations.
// Sometimes, the nature of the text inside a paragraph makes that the line
// height must be increased or decreased for better readability.
.upf-text-lines--big {
  line-height: 1.8;
}

//
// Utility classes for changing the color of the text
//
.text-color-default { color: @color-text; }
.text-color-default-light { color: @color-text-light; }
.text-color-default-lighter { color: @color-text-lighter; }
.text-color-contrast { color: @color-text-contrast; }
.text-color-contrast-light { color: @color-text-contrast-light; }
.text-color-contrast-lighter { color: @color-text-contrast-lighter; }

//
// Utility classes for changing the weight or style of the text
//
.text-style-normal { font-style: normal }
.text-style-bold { font-weight: bold }
.text-style-italic { font-style: italic }
