@import '../core/_variables';

/*
---
name: Typography
category: Utilities
---

You can use these helper classes to style text in terms of size and color.

The maximum size is `text-size-10`, and the minimum size is `text-size-1`.

To have a larger line-height, use `upf-text-lines--big`.

```utilities-text-size.html
<div class="text-size-10">
  text-size-10 applied
</div>

<div class="text-size-9">
  text-size-9 applied
</div>

<div class="text-size-8">
  text-size-8 applied
</div>

<div class="text-size-7">
  text-size-7 applied
</div>

<div class="text-size-6">
  text-size-6 applied
</div>

<div class="text-size-5">
  text-size-5 applied
</div>

<div class="text-size-4">
  text-size-4 applied
</div>

<div class="text-size-3">
  text-size-3 applied
</div>

<div class="text-size-2">
  text-size-2 applied
</div>

<div class="text-size-1">
  text-size-1 applied
</div>

<div class="upf-text-lines--big">
  For a larger line-height, we can use the upf-text-lines--big class.
</div>
```

You can also apply text styles like bold, italic, and capitalize.

```utilities-text-style.html
<div class="text-style-bold">
  Bolded
</div>

<div class="text-style-italic">
  Italic
</div>

<div class="text-style-capitalize">
  capitalize first letters
</div>
```

To color a text conveniently with the pre-defined `upf` colors, we can use the color helper classes too.

```utilties-text-color.html
<div class="text-color-default">
  Default
</div>

<div class="text-color-default-light">
  Default light
</div>

<div class="text-color-default-lighter">
  Default lighter
</div>

<div style="background-color: #1b0059;">
  <div class="text-color-contrast">
    Contrast
  </div>

  <div class="text-color-contrast-light">
    Contrast light
  </div>

  <div class="text-color-contrast-lighter">
    Contrast lighter
  </div>
</div>

<div class="text-color-bright-purple">
  Bright purple
</div>

<div class="text-color-gray">
  Gray
</div>

<div class="text-color-info">
  Info
</div>

<div class="text-color-alert">
  Alert
</div>

<div class="text-color-success">
  Success
</div>

<div class="text-color-error">
  Error
</div>

<div class="text-color-facebook">
  Facebook
</div>

<div class="text-color-pinterest">
  Pinterest
</div>

<div class="text-color-instagram">
  Instagram
</div>

<div class="text-color-youtube">
  Youtube
</div>

<div class="text-color-twitter">
  Twitter
</div>
```
*/

// Text Size Utility classes
// --------------------------------------------------

@min_font_size: 8;
@breaking_size: 18; // size after what the step is 6px

.text-size(@id, @size) {
  .text-size-@{id} {
    font-size: @size/@rem;
  }
}

.text-size-loop(@counter, @size, @max) when (@counter < @max) {

  & when (@size >= @breaking_size) {
    .text-size-loop(@counter+1, @size+6, @max);
  }

  & when (@size < @breaking_size) {
    .text-size-loop(@counter+1, @size+2, @max);
  }

  .text-size(@counter+1, @size);
}

.text-size-loop(0, @min_font_size, 10);
.text-size(normal, @font-size-body);

// Line height configurations.
.upf-text-lines--big {
  line-height: 1.8;
}



// Text Color Utility classes
// --------------------------------------------------

.text-color-default { color: @color-text; }
.text-color-default-light { color: @color-text-light; }
.text-color-default-lighter { color: @color-text-lighter; }
.text-color-contrast { color: @color-text-contrast; }
.text-color-contrast-light { color: @color-text-contrast-light; }
.text-color-contrast-lighter { color: @color-text-contrast-lighter; }
.text-color-bright-purple { color: @upf-primary-bright-purple; }
.text-color-orange { color: @upf-primary-orange; }
.text-color-gray { color: @upf-gray; }
.text-color-blue-gray { color: #a9b4c7; }

.text-color-info { color: @upf-feedback-info; }
.text-color-alert { color: @upf-feedback-alert; }
.text-color-success { color: @upf-feedback-success; }
.text-color-error { color: @upf-feedback-error; }

.text-color-facebook { color: @facebook-brand-color; }
.text-color-pinterest { color: @pinterest-brand-color; }
.text-color-instagram { color: @instagram-brand-color; }
.text-color-youtube { color: @youtube-brand-color; }
.text-color-twitter { color: @twitter-brand-color; }



// Text Style Utility classes
// --------------------------------------------------

.text-style-normal { font-style: normal }
.text-style-semibold { font-weight: 600; }
.text-style-bold { font-weight: bold }
.text-style-italic { font-style: italic }
.text-style-capitalize { text-transform: capitalize; }
.text-style-uppercase { text-transform: uppercase; }


// Text Align Utility classes
// --------------------------------------------------

.text-align-start, .text-align-left { text-align: left }
.text-align-end, .text-align-right { text-align: right }
.text-align-center { text-align: center }
.text-align-justify { text-align: justify }
