
<div class='row-fluid'>
  <section class='col-xs-9 center-block colors'>
    <h3 class='col-xs-12'>Colors</h3>
    <div class='row'>
      <div class='col-xs-2 color upfluence-primary'>
        <div class='square'></div>
        <div class='color-meta'>
          <p class='color-hex'>#e14c1a</p>
          <p class='color-name'>primary</p>
        </div>
      </div>

      <div class='col-xs-2 color upfluence-primary-light'>
        <div class='square'></div>
        <div class='color-meta'>
          <p class='color-hex'>#ef9272</p>
          <p class='color-name'>primary-light</p>
        </div>
      </div>

      <div class='col-xs-2 color upfluence-primary-dark'>
        <div class='square'></div>
        <div class='color-meta'>
          <p class='color-hex'>#862d0f</p>
          <p class='color-name'>primary-dark</p>
        </div>
      </div>

      <div class='col-xs-2 color upfluence-success'>
        <div class='square'></div>
        <div class='color-meta'>
          <p class='color-hex'>#129d5a</p>
          <p class='color-name'>success</p>
        </div>
      </div>

      <div class='col-xs-2 color upfluence-gray'>
        <div class='square'></div>
        <div class='color-meta'>
          <p class='color-hex'>#f9f9f9</p>
          <p class='color-name'>gray</p>
        </div>
      </div>

      <div class='col-xs-2 color upfluence-secondary'>
        <div class='square'></div>
        <div class='color-meta'>
          <p class='color-hex'>#e14c1a</p>
          <p class='color-name'>secondary</p>
        </div>
      </div>
      <div class='col-xs-2 color upfluence-secondary-light'>
        <div class='square'></div>
        <div class='color-meta'>
          <p class='color-hex'>#1f0882</p>
          <p class='color-name'>secondary-light</p>
        </div>
      </div>

      <div class='col-xs-2 color upfluence-secondary-dark'>
        <div class='square'></div>
        <div class='color-meta'>
          <p class='color-hex'>#000000</p>
          <p class='color-name'>secondary-dark</p>
        </div>
      </div>

      <div class='col-xs-2 color upfluence-error'>
        <div class='square'></div>
        <div class='color-meta'>
          <p class='color-hex'>#080222</p>
          <p class='color-name'>error</p>
        </div>
      </div>

      <div class='col-xs-2 color upfluence-gray-dark'>
        <div class='square'></div>
        <div class='color-meta'>
          <p class='color-hex'>#c6c6c6</p>
          <p class='color-name'>gray-dark</p>
        </div>
      </div>
    </div>
  </section>

  <section class='col-xs-9 center-block buttons'>
    <div class='row'>
      <h3 class='col-xs-12'>Buttons</h3>
      <div class='col-xs-6'>
        <h4 class='col-xs-12'>Red | Primary</h4>
        <div class='row'>
          <div class='col-xs-3'>
            <h5>Normal</h5>
            <button class='btn upf-btn'>Button</button>
          </div>

          <div class='col-xs-3'>
            <h5>Hover/Active</h5>
            <button class='btn upf-btn active'>Button</button>
          </div>

          <div class='col-xs-3'>
            <h5>Disabled</h5>
            <button class='btn upf-btn disabled'>Button</button>
          </div>
        </div>
      </div>

      <div class='col-xs-6'>
        <h4 class='col-xs-12'>Dark | Primary</h4>
        <div class='row'>
          <div class='col-xs-3'>
            <h5>Normal</h5>
            <button class='btn upf-btn--dark'>Button</button>
          </div>

          <div class='col-xs-3'>
            <h5>Hover/Active</h5>
            <button class='btn upf-btn--dark active'>Button</button>
          </div>

          <div class='col-xs-3'>
            <h5>Disabled</h5>
            <button class='btn upf-btn--dark disabled'>Button</button>
          </div>
        </div>
      </div>

      <div class='col-xs-6'>
        <h4 class='col-xs-12'>Red | Secondary</h4>
        <div class='row'>
          <div class='col-xs-3'>
            <h5>Normal</h5>
            <button class='btn upf-btn--reversed'>Button</button>
          </div>

          <div class='col-xs-3'>
            <h5>Hover/Active</h5>
            <button class='btn upf-btn--reversed active'>Button</button>
          </div>

          <div class='col-xs-3'>
            <h5>Disabled</h5>
            <button class='btn upf-btn--reversed disabled'>Button</button>
          </div>
        </div>
      </div>

      <div class='col-xs-6'>
        <h4 class='col-xs-12'>Dark | Secondary</h4>
        <div class='row'>
          <div class='col-xs-3'>
            <h5>Normal</h5>
            <button class='btn upf-btn--dark--reversed'>Button</button>
          </div>

          <div class='col-xs-3'>
            <h5>Hover/Active</h5>
            <button class='btn upf-btn--dark--reversed active'>Button</button>
          </div>

          <div class='col-xs-3'>
            <h5>Disabled</h5>
            <button class='btn upf-btn--dark--reversed disabled'>Button</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class='col-xs-9 center-block inputs'>
    <div class='row'>
      <h3 class='col-xs-12'>Forms</h3>
      <div class='col-xs-6'>
        <h4>Inputs</h4>
        <div class='row'>
          <div class='col-xs-6'>
            <div class='form-group upf-input-container'>
              <label>Label</label>
              <input type='text' placeholder='Some random placeholder text'
                     class='form-control upf-input' />
            </div>
          </div>

          <div class='col-xs-6'>
            <div class='form-group upf-input-container'>
              <label>Label</label>
              <input type='text' value='This one has a value'
                     class='form-control upf-input' />
            </div>
          </div>

          <div class='col-xs-12'>
            <div class='form-group upf-input-container upf-input-container--errorful'>
              <label>Label</label>
              <input type='text' value='This one has an error'
                     class='form-control upf-input' />
              <span class='col-xs-12 upf-input-feedback upf-input-feedback--error'>
                <i class='fa fa-exclamation-circle'
                   aria-label='Hi! My name is error. But you can call me Nickelback'>
                </i>
              </span>
            </div>
          </div>

          <div class='col-xs-12'>
            <div class='form-group upf-input-container upf-input-container--has-help'>
              <label>Label</label>
              <input type='text' value='A cool input that even offers some help'
                     class='form-control upf-input' />
              <span class='col-xs-12 upf-input-feedback upf-input-feedback--help'>
                <i class='fa fa-question-circle'
                   aria-label='Confusing input huh?'>
                </i>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-6">
        <h4>Textarea</h4>
        <div class='row'>
          <div class='col-xs-12'>
            <div class='form-group upf-input-container'>
              <label>Label</label>
              <textarea class='form-control upf-input'>
              </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class='col-xs-9 center-block fonts'>
    <div class='row'>
      <h3 class='col-xs-12'>Typography</h3>
      <div class='col-xs-6'>
        <h4>Titles</h4>
        <div class='row'>
          <div class='col-xs-3 font titles'>
            <div class='text-center square'>
              <span>Aa</span>
            </div>
            <div class='font-meta text-center'>
              <p class='color-name'>GT Eesti Medium</p>
            </div>
          </div>
          <div class='col-xs-6 col-xs-offset-1'>
            <h1>h1 - Heading</h1>
            <h2>h2 - Heading</h2>
            <h3>h3 - Heading</h3>
            <h4>h4 - Heading</h4>
            <h5>h5 - Heading</h5>
            <h6>h6 - Heading</h6>
          </div>
        </div>
      </div>

      <div class='col-xs-6'>
        <h4>Text</h4>
        <div class='row'>
          <div class='col-xs-3 font text'>
            <div class='text-center square'>
              <span>Aa</span>
            </div>
            <div class='font-meta text-center'>
              <p class='color-name'>GT Eesti Book</p>
            </div>
          </div>
          <div class='col-xs-5 col-xs-offset-1'>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
              ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
