@import '../base/_variables';

//
// Style for the dropdowns.
// This one has no enough examples yet to properly fine tune it. So it's a WIP.
//
.upf-dropdown {
  border-radius: @default-radius;
  border: 1px solid @upfluence-secondary-light;

  .divider {
    background-color: lighten(@upfluence-secondary-light, 20)
  }
}
